.about_content{
    padding-left: 83px;
    padding-right: 83px;
    padding-top: 20px;
}
.about_paragraf{
    font-size: 20px;
    font-family: arial;
    text-align: justify;
    text-transform: capitalize;
    letter-spacing: 4px;
}
