.AppDevelopment_heading{
    padding-top: 30px;
    color: #448ee4;
    text-align: center;
}
.AppDevelopment_peragraf{
    text-align: center;
    padding-right: 83px;
    padding-left: 83px;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 3px;
}
