.AppDevelopment_content{
    padding-right: 16px;
    padding-left: 60px;
  
}
.AppDevelopment_heading{
    text-transform: capitalize;
    font-size: 30px;
    color: #1890ff;
    font-family:Quicksand, sans-serif;
    text-align: center;
    margin-top: 30px;
}

.AppDevelopment_per{
    padding-left: 140px;
    padding-right: 140px;
    text-transform: capitalize;
    font-size: 24px;
    font-family:Quicksand, sans-serif;
    justify-content: center;
    margin-top: 12px;
    height: 30vh;
}
.app_img{
    float: right;  
    width: 90px;
    height: 170px;
    margin-left: 40px;
}


