.AppDevelopment_content{
    padding-right: 83px;
    padding-left: 83px;
}
.AppDevelopment_heading{
    padding-top: 30px;
    text-transform: capitalize;
    text-align: center;
    color: #448ee4;
}
.AppDevelopment_peragraf{
    text-align: justify;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.technology_icon{
    text-align: center;
    display: flex;
    
}
.icons{
    width: 200px;
    height: 200px;
}
.Andriodcaption{
    background-color: lawngreen;
    width: 200px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    
}

