.contentStyle{
    width:100%;
    height: 700px;
    color: #fff;
    
}
@media screen and (max-width:900px){
    .contentStyle{
        height: 300px;
    }
}

.home_content{
    text-align: justify;
    padding-left: 83px;
    padding-right: 83px;
    text-justify: auto;
    letter-spacing: 1px;
    font-size: 24px;
    font-family: arial;
    justify-content: center;
}
.firstheading{
    color: blue!important;
    letter-spacing: 3px!important;
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
    font-size: 64px;
    font-family: arial;    
}
.readmorediv{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 30px; 
}
.readmorebtn{
    background-color: #448ee4;
    color: #fff;
    cursor: pointer;
    text-transform: lowercase;
    letter-spacing: 3px;
    border: none;
    font-size: 24px;
    width: 300px;
    height: 60px;
}

.webmobAppdlp{
    padding-top: 20px;
    padding-left: 83px;
    padding-right: 83px;
}
.webmobAppdlp_heading{
    letter-spacing: 3px;
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
    font-size: 36px;
    font-family: arial;
    padding-top: 20px;
}
.webmobAppdlp_peragrf{
    letter-spacing: 2px;
    font-size: 24px;
    font-family: arial;
    text-align: justify;
    
}
.rdmdiv{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 10px; 
}
.rdmbtn{
    background-color: #448ee4;
    color: #fff;
    text-transform: lowercase;
    letter-spacing: 3px;
    border: none;
    font-size: 24px;
    width: 300px;
    height: 60px;
    cursor: pointer;
}
                               /* Web Techonology we use main div */
.web_tech_icon{
    display: flex;
    justify-content: center;
 
}
                     /* Mongo DB  */
.mongo_icon{
    padding-right: 40px;
    padding-left: 10px;
}
.Mongo_db{
    width: 180px;
    height: 180px;
   
}
.Mongo_figerCaption{
    background-color: #3FA037;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    text-transform: capitalize;
}
              /* Express JS */
.express_icon{
    padding-right: 40px;
    padding-left: 10px;
}
.Express_js{
    width: 180px;
    height: 180px;
}
.Express_figerCaption{
    background-color: orange;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    text-transform: capitalize;
} 
                      /* React Js  */
.react_icon{
    padding-right: 40px;
    padding-left: 10px;
}
.React_js{
    width: 180px;
    height: 180px;
}
.React_figerCaption{
    background-color: #448ee4;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    text-transform: capitalize;

}
                /* Node JS */
.node_icon{
    padding-right: 40px;
    padding-left: 10px;
}
.Node_js{
    width: 180px;
    height: 180px;
}
.Node_figerCaption{
    background-color: #3c873a ;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    text-transform: capitalize;   
}
                                /* our trasted partners */
.ourpartnersmaindiv{
    justify-content: center;
    padding-top: 20px;
}
.headingourpartners{
    text-align: center;
    text-transform: capitalize;
    
}
                                           /* ResponsiveNess */
 @media screen and (max-width: 1000px){
.web_tech_icon{
    display: grid;
}
}                                   

