.contentStyle{
   height: auto;
   width: 100vw;
}

.home_content{
    text-align: justify;
    padding-left: 140px;
    padding-right: 140px;
    text-justify: auto;
    font-size: 24px;
    justify-content: center;
    /* text-transform: capitalize; */
}
.firstheading{
    text-transform: capitalize;
    font-size: 30px;
    color: #1890ff;
  
    text-align: center;
    margin-top: 30px;
}
.readmorediv{
    display: flex;
    align-items: center;
    justify-content: center; 
    /* padding-top: 5px;  */
}
.readmorebtn{
    background-color: #1890ff;
    color: #fff;
    cursor: pointer;
    text-transform: lowercase;
    border: none;
    font-size: 24px;
    width: 250px;
    height: 60px;
}

.webmobAppdlp{
    padding-top: 20px;
    padding-left: 140px;
    padding-right: 140px;
}
.webmobAppdlp_heading{

    color: #1890ff;
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
   
}
.webmobAppdlp_peragrf{
    text-align: justify;
    text-justify: auto;
    font-size: 24px;
}
.rdmdiv{
    display: flex;
    align-items: center;
    justify-content: center; 
    /* padding-top: 10px;  */
}
.rdmbtn{
    background-color: #448ee4;
    color: #fff;
    text-transform: lowercase;
    border: none;
    font-size: 24px;
    width: 250px;
    height: 60px;
    cursor: pointer;
}
                               /* Web Techonology we use main div */
.technolgy_heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 34px;
    padding-top: 50px;
    color: #1890ff;

}
.web_tech_icon{
    display: flex;
    justify-content: center;
    
    text-align: center;
 
}
                     /* Mongo DB  */
.mongo_icon{
    padding-right: 40px;
    padding-left: 10px;
}
.Mongo_db{
    width: 140px;
    height: 140px;
   
}
.Mongo_figerCaption{
    padding-top: 10px;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    text-transform: capitalize;
}
              /* Express JS */
.express_icon{
    padding-right: 40px;
    padding-left: 10px;
}
.Express_js{
    width: 140px;
    height: 140px;
}
.Express_figerCaption{
    padding-top: 10px;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    text-transform: capitalize;
} 
                      /* React Js  */
.react_icon{
    padding-right: 40px;
    padding-left: 10px;
}
.React_js{
    width: 140px;
    height: 140px;
}
.React_figerCaption{
    padding-top: 10px;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    text-transform: capitalize;
}
                /* Node JS */
.node_icon{
    padding-right: 40px;
    padding-left: 10px;
}
.Node_js{
    width: 140px;
    height: 140px;
}
.Node_figerCaption{
    padding-top: 10px;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    text-transform: capitalize;
}
    /* Andriod  */
    .andriod_icon{
    padding-right: 40px;
    padding-left: 10px;
}
.andriod_style{
    width: 140px;
    height: 140px;
}
.andriod_figerCaption{
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    text-transform: capitalize;
    padding-top: 10px;

}
                                /* our trasted partners */
.ourpartnersmaindiv{
    padding-top: 50px
    
}
.headingourpartners{
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    color: #1890ff;
    padding-top: 20px;
    
}
.our_trasted_partners_icons{
    text-align: center;
    padding-bottom: 50px;
    
}
.our_trasted_partners_icons_syle_one{
    height: 100px;
    width: 230px;
    padding-right: 25px;
    line-height: 20px;
    margin-bottom: 22px;
}
.our_trasted_partners_icons_syle_two{
    height: 60px;
    width: 300px;
    line-height: 20px;
    margin-top: 15px;
    padding-left: 25px;
    
    
}
.rdmbtn:hover{
    background-color: rgb(26, 78, 23);
}
                                           /* ResponsiveNess */
 @media screen and (max-width: 1000px){
.web_tech_icon{
    display: grid;
}
}                                   

