.contentStyle{
    width:100%;
    height: 700px;
    color: #fff;
    background: #364d79; 
}
@media screen and (max-width:900px){
    .contentStyle{
        height: 300px;
    }
}

.home_content{
    text-align: justify;
    padding-left: 83px;
    padding-right: 83px;
    text-justify: auto;
    letter-spacing: 3px;
    font-size: 24px;
    line-height: 40px;
    font-family: arial;
    text-transform: capitalize;
    justify-content: center;
}
.firstheading{
    color: blue!important;
    letter-spacing: 3px!important;
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
    font-size: 64px;
    font-family: arial;    
}
.secondheading{
    color: blue!important;
    letter-spacing: 3px!important;
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
    font-family: arial;
    font-size: 48px;
}
.hmainheading{
    letter-spacing: 3px!important;
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
    font-size: 36px;
    font-family: arial;

}
.readmorediv{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 30px; 
}
.readmorebtn{
    background-color: #448ee4;
    color: #fff;
    cursor: pointer;
    text-transform: lowercase;
    letter-spacing: 3px;
    border: none;
    font-size: 24px;
    width: 300px;
    height: 60px;
}

.webmobAppdlp{
    padding-top: 50px;
    padding-left: 83px;
    padding-right: 83px;
}
.webmobAppdlp_heading{
    letter-spacing: 3px;
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
    font-size: 36px;
    font-family: arial;
    padding-top: 50px;
}
.webmobAppdlp_peragrf{
    padding-top: 50px;
    letter-spacing: 3px;
    font-size: 24px;
    font-family: arial;
    text-transform: capitalize;
    text-align: justify;
}
.rdmdiv{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 30px; 
}
.rdmbtn{
    background-color: #448ee4;
    color: #fff;
    text-transform: lowercase;
    letter-spacing: 3px;
    border: none;
    font-size: 24px;
    width: 300px;
    height: 60px;
    cursor: pointer;
}

                 /* card style */
.cardsdive{
    padding-left: 83px;
    padding-right: 83px;
    display: flex;
    padding-top: 50px;
}

.cardheading{
    font-size: 24px;
    text-transform: capitalize;
}
.cardperagraf{
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: justify;
}
.cardone{
    width: 360px;
    height: 580px;
    text-align: center; 
}
.cardimage{
    width: 300px;
    height: 250px;
}
.cardtwodiv{
    padding-left: 60px;
}
.cardtwo{
    width: 360px;
    height: 580px;
    text-align: center; 
    padding-right: 60px;
}
.cardimagediv{
    padding-top: 55px;
}
   
.cardthreediv{
    padding-left: 60px;
}
.cardthree{
    width: 360px;
    height: 580px;
    text-align: center; 
}
.cardimagedivthree{
    padding-top: 27px;
}
                                 
