*{
    font-family:Quicksand, sans-serif;  
}
.WebDevelopment_content{
    padding-right: 83px;
    padding-left: 83px;
}
.web_content{
    padding-top: 50px;
}
.web_heading {
    text-transform: capitalize;
    font-size: 30px;
    color: #1890ff;
    text-align: center;
}

.web_paragraf{
    text-align: justify;
    padding-left: 140px;
    padding-right: 140px;
    text-justify: auto;
    font-size: 24px;
    justify-content: center;
}

