.Nav-part{
    width: 100%;
    height: 60px;
    background-color: red;
}

.links ul,.links ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    
    
}
.links{
    float: right;
   
}
Link{
    text-decoration: none;
}

