.Nav-part{
    display: block;
    height: 84px;
    align-content: space-between;
    padding-left: 10%;
    border-bottom: 1px solid rgb(107, 121, 184);
    margin: 0px;
}

.links{
  position: relative;
  float:right;
  right: 10px;
  top: 30%;
  
}
Link{
    text-decoration: none;
}

 ul li{
    display:inline-block; 
    padding:0 7px; 
    position:relative;
  }
  ul li:not(:last-child)::before{
    content:""; 
    border:1px solid black;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-3px; 
    top:0; 
    height:100%;
  }

